<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_ICondenserService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://localhost:8024/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ICondenserService" contract="AutoLoader.ICondenserService"
    name="NetTcpBinding_ICondenserService">
    <identity>
     <userPrincipalName value="DESKTOP-OMK9IAM\Михаил" />
    </identity>
   </endpoint>
  </client>
  <behaviors>
			<serviceBehaviors>
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="CondenserService.CondenserService" behaviorConfiguration="mexBeh">
				<endpoint address="" binding="netTcpBinding" contract="CondenserService.ICondenserService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8023" />
						<add baseAddress="net.tcp://localhost:8024" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MWArray" publicKeyToken="e1d84a0da19db86f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>