<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICondenserService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8024/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICondenserService" contract="CondenserServive.ICondenserService"
                name="NetTcpBinding_ICondenserService">
                <identity>
                    <userPrincipalName value="DESKTOP-OMK9IAM\Михаил" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>